<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="trace" strict="true" name="LogConfig">
    <Properties>
        <Property name="filepath">D:\log\log4j2</Property>
    </Properties>
    <Appenders>
        <!--<Console name="STDOUT" target="SYSTEM_OUT">-->
            <!--<PatternLayout>-->
                <!--<Pattern>[%d] - [%c] - [%highlight{%level}] - [%method] - [%t] - %msg%n</Pattern>-->
            <!--</PatternLayout>-->
        <!--</Console>-->
        <RollingFile name="logService"
                     fileName="${filepath}/logService.log"
                     filePattern="${filepath}/bak/logService-%d{yy-MM-dd HH:mm:ss}.log.gz">
            <PatternLayout>
                <Pattern>[%d] - [%c] - [%highlight{%level}] - [%method] - [%t] - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <CronTriggeringPolicy schedule="1 * * * * ?" evaluateOnStartup="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="fileLogger" level="debug" additivity="false">
            <AppenderRef ref="logService"/>
            <!--<AppenderRef ref="STDOUT"/>-->
        </Logger>

        <!-- 这里 定义了 root logger 为 logService这个 appender 才能 LogFactory拿的class logger 输出到日志文件 -->
        <Root level="warning">
            <AppenderRef ref="logService"/>
        </Root>
    </Loggers>

</Configuration>